<p>Find me in app/views/pages/info.html.erb</p>
<h1>Travelling</h1>
  <div>
    <h2>Interrailing through Europe</h2>
    <div>
      <i>"Travel is fatal to prejudice, bigotry,and narrow-mindedness, and many of our people need it sorely on these accounts. Broad, wholesome, charitable views of men and things cannot be acquired by vegetating in one little corner of the earth all one's lifetime. "</i>
      <p>"Travelling - it leaves you speechless, then turns you into a storyteller."</b>
      <img src="/assets/voz.JPG" style="Width:500px" />
    </div>
      <a href="http://www.neverendingvoyage.com/how-to-plan-i=nterrail-eurail-trip/">Planning a trip</a>
    <h2>Packing</h2>
      <em>Useful tips</em>
      <a href="http://www.eaglecreek.com/blog/what-pack-ultimate-travel-packing-checklist">Travel packing checklist</a>
    <h2>Find me</h2>
      <a href="https://github.com/dunja99">Github</a>
      <a href="https://www.instagram.com/dunjaduxi/">Instagram</a>
      <a href="mailto:dunjabubalo@gmail.com">Send me an email</a>
      <audio controls>
        <source src="adele.mp3" type="audio/mpeg">
  </div>
